//Reset for the best
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden !important;
}

.header {
  @include Full-Width-Height;
  background-image: url("../../images/main.png");
  @include Background-Image-Center;
}
